* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  min-width: 100%;
}

a {
 text-decoration: none;
 color: #000000;
}

li {
  list-style: none;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}

.first-screen {
  display: flex;
  background-color: #EEEFF1;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 57px;
}

.header__label {
  font-family: 'Revalia';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  padding-bottom: 20px;
  color: #34547A;
  margin-left: 20px;
}

.menu-list {
  display: flex;
  /* align-items: center; */
  margin-left: 398px;
}

.menu-list__main-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #34547A;
}
.menu-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  margin-left: 42px;
}

.design-and-layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 120px;
}

.design-and-layout__pict {
  padding-left: 101px;
  margin-bottom: 168px;
}

.design-and-layout__img {
  width: 100%;
}

.design-and-layout__description {
  display: flex;
  flex-direction: column;
  margin-left: 131px;
}

.design-and-layout__main-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 45px;
  color: #000000;
  margin-bottom: 60px;
}

.text {
  max-width: 540px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #727272;
}

.design-and-layout__text {
margin-bottom: 60px;
padding-right: 21px;
}

.design-and-layout__button {
  margin-bottom: 146px;

}

.button {
  max-width: 225px;
  padding: 25px 0;
  background: #34547A;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.about-me__title {
  margin-top: 119px;
}

.about-me__text {
  max-width: 540px;
  text-align: center;
  margin: 50px 0 100px 0;
}

.numbers {
  padding: 100px 0;
  background: #34547A;
  display: flex;
  align-items: center;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.numbers__box, .numbers__box-1 {
  display: flex;
}
 
.numbers__box .numbers__item:not(:first-child) {
  margin-left: 52.33px;
}

.numbers__item {
  display: flex;
}

.numbers__item-1 {
  display: flex;
  margin-left: 52.33px;
}

.numbers__description {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.bold-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.skills{
  display: flex;
}

.my-skills__pict {
  margin: 101px 0 101px 150px;
}

.skills__img {
  max-width: 100%;
  max-height: 100%; 
}

.my-skills {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.my-skills__title{
  margin-top: 204px;
  line-height: 30px;
}

.my-skills__list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-skills__list .skills__item:not(:first-child) {
  margin-top: 30px;
}

.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #727272;
}

.gray-line {
  margin-top: 19.88px;
  padding: 1.5px 0;
  background: #C4C4C4;
  border: none;
}

.purple-line {
  position: absolute;
  transform: rotate(-0.06deg);
  margin-top: -3px;
  padding: 1.5px 350px 1.5px 0;
  background: #34547A;
  border: none;
}

.video {
  background-color: #EEEFF1;
  padding-bottom: 100px;
}

.video__title {
  padding-top: 100px;
  text-align: center;
}

.video__text {
  margin: 50px auto 57px auto;
  text-align: center;
}

.video__item {
  position: relative;
  max-width: 1110px;
  max-height: 600px;
  margin: 0 auto;
  background-color: #000000;
}

.video__img {
  display: block;
  max-width: 1110px;
  max-height: 600px;
  margin: 0 auto;
  opacity: 0.5;
}

.video__play-button {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  cursor: pointer;
}

.projects {
  display: flex;
  margin: 0 auto;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  margin: 28px 0 28px 0; 
}

.projects__item {
  width: 25%;
  position: relative;
  opacity: 1;
  cursor: pointer;
}

.projects__item-img {
  width: 100%;
  float: left;
}

.projects__item::before,
.projects__item::after {
  content: '';
  position: absolute;
  opacity: 0;
}

.projects__item::before {
  background-color: #34547A;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.projects__item::after {
  background-image: url(/img/icons/view.png);
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.projects__item:hover::before {
  opacity: 0.8;
}

.projects__item:hover::after {
  opacity: 1;
}

.form {
  background-color: #EEEFF1;;
}

.form__container {
  max-width: 540px;
  padding-bottom: 100px;
}
.form__title {
  text-align: center;
  padding-top: 100px;
  line-height: 30px;
}

.form__text {
  margin: 50px auto 65px auto;
  text-align: center;
}

.form__input {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-name, .input-mail{
  padding: 17.5px 58.5px 17.5px 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #5F5D5D;
  border: none;
}

.input-message {
  margin-top: 20px;
  padding: 17px 348px 143px 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5F5D5D;
  border: none;
  resize: none;
}

.form__button {
  display: block;
  padding: 20px 49px;
  margin: 50px auto 0 auto;
  font-size: 14px;
  letter-spacing: 0.15em;
}

.footer {
  background-color: #34547A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer__text {
  margin-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  color: #FFFFFF;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__links a:not(:first-child) {
  margin-left: 22px;
}

@media only screen and (max-width: 1280px) {
  .header {
    margin-top: 22px;
  }

  .header__label {
    padding-bottom: 0;
  }

  .header__nav-menu {
    display: none;
  }

  .design-and-layout {
    margin-top: 67px;
    flex-direction: column;
  }
  .design-and-layout__pict {
    padding-left: 0;
    margin-bottom: 0;
  }
  .design-and-layout__img {
    padding: 0 39px;
  }

  .design-and-layout__description {
    margin: 0;
  }

  .design-and-layout__main-title {
    margin: 51px 0 44px 0;
    text-align: center;
    font-size: 36px;
    line-height: 41px;
  }

  .design-and-layout__text {
    max-width: 100%;
    text-align: center;
    margin: 0 26px 44px 26px;
  }

  .button {
    margin: 0 auto 95px auto;
    padding: 25px 41px;

  }

  .about-me {
    display: flex;
  }

  .about-me__title {
    margin-top: 91px;
  }

  .about-me__text {
    max-width: 100%;
    margin: 42px 26px 0 26px;
    margin-bottom: 82px;
  }

  .numbers {
    padding: 75px 0;
  }
  .numbers__box .numbers__item:not(:first-child) {
    margin-left: 0;
    margin-top: 90px;
  }
  
  .numbers__item, .numbers__item-1 {
    margin-left: 0;
  }

  .numbers-container {
    width: 100%;
  }
  
  .numbers__box, .numbers__box-1 {
    flex-direction: column;
    justify-content: space-between;
  }
  .numbers__box-1 {
    margin-left: 60px;
  }
  

  .skills{
    flex-direction: column-reverse;
  }
  .my-skills__pict {
    margin: 82px 18px 0 18px;
  }

  .my-skills {
    width: 100%;
    margin: 98px 0 103px 0;
  }

  .my-skills__title {
    margin-top: 0;
    text-align: center;
  }

  .my-skills__list {
    margin: 42px 18px 0 18px;

  }

  .purple-line {
    padding: 1.5px 70% 1.5px 0;
  }
  
  .video {
    padding-bottom: 91px;
  }

  .video__container {
    margin: 0 18px;
  }

  .video__title {
    padding-top: 93px;
  }
  
  .video__text {
    max-width: 100%;
    text-align: center;
    margin: 34px 0 57px 0;
  }
  
  .video__item {
    max-width: 1110px;
    max-height: 600px;
    margin: 0 auto;
    background-color: #000000;
  }
  
  .video__img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: 0.5;
  }
  
  .video__play-button {
    width: 75px;
    height: 75px;
    top: calc(50% - 38px);
    left: calc(50% - 38px);
  }

  .projects-container {
    width: 100%;
    margin: 34px 0 34px 0;
  }
  
  .projects__item {
    min-width: 50%;
  }
  
  .projects__item-img {
    width: 100%;
    float: left;
  }
  .invers {
    order: +1;
  }

  .form {
    background-color: #EEEFF1;;
  }

  .form__container {
    max-width: 100%;
    margin: 0 16px;
  }

  .form__title {
    padding-top: 91px;
  }

  .form__text {
    max-width: 100%;
    margin: 34px auto 48px auto;
    text-align: center;
  }
  
  .form__input {
    max-width: 100%;
    display: block;
  }
  
  .input-name, .input-mail{
    display: block;
    margin-bottom: 22px;
    width: 100%;
  }
  
  .input-message {
    width: 100%;
    margin-top: 0;
    padding: 17px 0 143px 20px;
    margin-bottom: 48px;
  }
  .form__button {
    margin: 0 auto;
  }
  
  .footer-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer__info {
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__links {
    margin-top: 38px;
  }
}

@media screen and (max-width: 344px) {
  .numbers__box-1 {
    margin-left: 30px;
}
}
